@model PedalBus.Models.Person
@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>You are @Model.DisplayName. Here. Right here.</p>
        <p>You have accounts on 0 MOD systems.</p>
    </div>
</div>