@model IEnumerable<PedalBus.Models.Person>

<div class="well">
    @foreach (var item in Model)
    {
        <div>
            @Html.RadioButton("MatchingPersonId", item.Id) @item.DisplayName
        </div>
    }
</div>