@model IEnumerable<PedalBus.Models.Person>

<div class="panel">
    @foreach (var item in Model)
    {
        <div>
            @Html.RadioButton("MatchingPersonId", item.Id) @item.DisplayName
        </div>
    }
    <div>
        @Html.RadioButton("MatchingPersonId", -1) None of these
    </div>
</div>